.layout-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* 100% of the viewport height */
}

.sidebar {
  width: 200px; /* Fixed width */
  background-color: #111; /* Background color */
  color: #fff; /* Text color */
  padding: 20px;
  box-sizing: border-box; /* Padding included in the width */
}

.main-content {
  flex: 1; /* Take up the remaining space */
  padding: 20px;
  box-sizing: border-box; /* Padding included in the width */
}
